
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Lato:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: myFont;
  src: url(BillionaRegular-jElgy.ttf);
}

@font-face {
  font-family: marbley;
  src: url(MarbleyfreeRegular-vm857.otf);
}

.expl-text{
  font-family: 'marbley';
}

.main-nav-con{
    /* background: #1f141f; */
   box-shadow: rgba(42, 40, 40, 0.3) 0px 10px 8px, rgba(14, 12, 12, 0.22) 0px 5px 2px;
     background-image: url('../public/assets/hero/navshdow.svg');
   /* background-image: url('../public/assets/hero/shadownavp.png');  */
   /* border-radius: 30px; */
     /* opacity: 10; */
}


     .shape {
        width: 90%;
        height: 77px;
        background-color: rgb(154, 12, 12);
        position: relative;
        padding-top: 2px;
        padding-bottom: 2px;
        top: 0;
      }
      .shape:before {
        content: "";
        width: 99.8%;
        height: 74px;
        margin: auto;
        background-color:rgb(59, 8, 17);
        display: block;
        position: absolute;
        left: 1px;
        z-index: -1;
      }
      .shape,
      .shape:before {
        -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
        clip-path: polygon(3% 0%, 97% 0%, 100% 50%, 97% 100%, 3% 100%, 0% 55%);
      }

       /* ----------------- mobile nav---------------------- */

       .mobilenav{
        width: 95%;
        height: 40px;
        background-color: rgb(154, 12, 12);
        position: relative;
        top: 0;
       }
         .mobilenav:before {
        content: "";
        width: 99.7%;
        height: 39px;
        margin: auto;
        background-color:rgb(59, 8, 17);
        display: block;
        position: absolute;
        padding: 10px;
        left: 1px;
        top: 1px;
        bottom: 1px;
        right: 5px;
        z-index: -1;
      }
      .mobilenav,
      .mobilenav:before {
        -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
        clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 55%);}

 /* ------- hero section------------ */

 .join-button {
  background: linear-gradient(
    111.16deg,
    rgba(173, 11, 64, 0.878431) 9.86%,
    #ff1917 63.95%
  );
 }


 @media screen and (min-width: 640px) {
     .mobilesection{
       display: none;
     }
}

@media only screen and (max-width: 412px) and (min-width: 360px)  {
       .mobilesection{
        /* border: 2px solid green; */
        padding-bottom: 20%;
        padding-top: 7%;
        /* height: 80vh; */
       }
       .mobilehero{
        position: relative;
       }
       .heroimage{
        width: 100%;
       }
         .sikka{
        width: 90%;
       }
}

@media only screen and (max-width: 530px) and (min-width: 413px)  {
       .mobilehero{
        /* border: 2px solid red; */
        position: relative;
        padding-bottom: 10%;
        padding-top: 5%;
       }
       .mobilesection{
         /* border: 2px solid yellow; */
         padding: 3%;
       }
        .heroimage{
        width: 75%;
       }
        .sikka{
        width: 80%;
       }

     
}

  
@media only screen and (max-width: 350px) and (min-width: 320px)  {
      
        .sikka{
        width: 50%;
       }
}


.champ-con {
  border: .1px solid rgb(0, 0, 0);
  background: rgb(7,7,7);
background: linear-gradient(0deg, rgba(7,7,7,1) 66%, rgba(19,9,28,1) 100%);
}


.champ-logo {
  background-color: rgba(180, 14, 13, 0.15);
  font-family: "marbley";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
}

.champ-text{
  font-family: 'marbley';
  color: #ffffff;
  font-weight: 400;
}


@media screen and (min-width:350px) {
     .champ-text{
       margin-top: 10px;
     }
}




.champ-talk{
 background-color: rgba(180, 14, 13, 0.15);
  clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
  font-family: "marbley";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
}
.user-descrip{
  font-family: 'Lato';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0em;
}
/* ----------- Swiper ------------  */
.swiper-dot {
  transition: width 0.3s ease, height 0.3s ease;
}
.Image{
 width: 100px;
}
.user-descrip.selected{
  color: #ffffff;  
}
.congrs.selected {  
   background-image: url('../public/assets/champs/flying.svg');
   width: 100%;
}
.image {
  max-width: 100%;
  height: auto;
  display: block;
}

 /* ---------------------- */

 .game-box-con {
  border: .1px solid #ad0b40;
  background: linear-gradient(
    180deg,
    rgba(75, 73, 74, 0.7) 57.81%,
    rgba(0, 0, 0, 0.7) 86.98%
  );
  border-image-source: linear-gradient(
      111.16deg,
      rgba(173, 11, 64, 0.878431) 9.86%,
      #ff1917 63.95%
    ),
    linear-gradient(0deg, #b40e0d, #b40e0d);
  box-shadow: 0px 0px 10px 0px #f442b799;
   /* border-radius: 20px; */
   }


   /* ---------- title bar ------------ */

   
     .headtop {
        width: 340px;
        height: 20%;
         margin: auto;
        background-color: rgb(154, 12, 12);
        position: relative;
        top: 0;
      }
      .headtop:before {
        content: "";
        width: 98%;
        height: 92%;
        margin: auto;
        background-color:rgb(59, 8, 17);
        display: block;
        position: absolute;
         top: 4px;
         bottom: 4px;  
        left: 2px;
        right: 2px;
        z-index: -1;
      }
      .headtop,
      .headtop:before {
        -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
        clip-path: polygon(7% 0%, 94% 0%, 100% 50%, 94% 100%, 7% 100%, 0% 55%);}

    
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in-left {
  animation: fadeLeft 0.5s ease-in-out;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fadeRight 0.5s ease-in-out;
}

